@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: "dancing-script";
	src: url("DancingScript-Regular.otf");
}

body{
	font-family:"dancing-script";
	text-shadow: #02010a;
	width: 90%;
	margin-left: 5%;
	font-size: 18px;
	justify-content: center;
}

.banner2{
	background-color: #82c3a6;
	background-position: center;
	padding: 05%;
	
	
}
.banner1{
	background-color: #82c3a6;
	margin-left: center;
	width: 100%;
	background-position: center;
	padding-top: 05px;
	border: 1px solid black;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
	
	
}
.imagenIndex{
	background-color:  #d1bb5d;
	width: 100%;
	padding-bottom: 10%;
}
.fotos-index-all{
	display: flex;
	
}
.foto2:hover{
	transform: translate(5px);
		
}
.foto1{
	width: 40%;
    border: 1px solid black;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
	margin-top: 10%;
	margin-left:08%;

	
}
.foto1:hover{
	transform: rotate(10deg);
} 
.foto2{
	width: 40%;
	border: 1px solid black;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
	margin-top: 10%;
	margin-left:5%;

}
.link-HTML{
	display: flex;
	margin-top: 5%;
   }
.retrato1{margin-left: 25%} .paisaje1{margin-left: 45%;}
header{
	width: 100%;
	background: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 100px;
}

h1{
	color: aliceblue;
	margin-top: 20px
	
}
.comenzando{margin-top: 20px;
}

	

#menu{}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;

}
#menu ul li a:hover{
	background-color: #659CC9;
	
	
}
#menu ul li a{
	color: white;
	display:block;
	padding: 10px;
	text-decoration: none;
}

#menu ul li{
  display: inline-block;
}
.itemd{
	
	
	margin-left: 50px;
}
.item-c{
float: right;
	margin-top: -35px;
	margin-right: 20px;

}
.item-b{
	float: right;
	margin-top: -35px;
	margin-right: 20px;
}
.item-a{float: right; 
	margin-top: -35px;
	margin-right: 20px;}	


.item2{
	float: right;
	margin-top: -413px;
}
.item1{
	margin-left: 40px;
}
img{max-width: 100%;}


.contenidoimgPR{
	 display: inline-block;
	background-color:  #d1bb5d;
	width: 100%;

}

.contenedorpaisaje1{
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
	width: 30%;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	margin-left: 50px;
	margin:02%;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
 }
.contenedorpaisaje2{
-webkit-filter: grayscale(100%%);
	filter: grayscale(100%);
	display: inline-block;
	box-sizing: border-box;
    border: 1px solid black;
	width: 30%;
	margin:01%;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
	
 }
.contenedorpaisaje3{
	
-webkit-filter: sepia();
	filter: sepia();
	display: inline-block;
    border: 1px solid black;
	box-sizing: border-box;
	width: 30%;
	margin:01%;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
 }
.contenedorpaisaje4{
	-webkit-filter: grayscale(100%%);
	filter: grayscale(100%);
	display: inline-block;
    border: 1px solid black;
	box-sizing: border-box;
	width: 30%;
	margin-left: 50px;
	margin:02%;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
 }
.contenedorpaisaje5{
	display: inline-block;
   border: 1px solid black;
	box-sizing: border-box;
	width: 30%;
	margin:01%;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);

 }
.contenedorpaisaje6{
	-webkit-filter: grayscale();
	filter: grayscale(100%);
	display: inline-block;
   border: 1px solid black;
	box-sizing: border-box;
	width: 30%;
	margin:01%;
	box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
	
 }
footer{
	width: 100%;
	background-color: #c9d1c5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 5%;
	
}
.contedor-F-All{
	width: 100%;
	max-width: 1200px;
}
.contenedor-footer{
	display: flex;
	
}
.contenedor-info{
	list-style: none;
	margin-top: 10%;}
	
                         }
.row1{
	list-style: none;
	margin-left: 10%;
	
}
.row2{
	margin-left: 8%;
}
.row3{
	margin-left: 8%;
}

.redes img{
	width: 07%;
	
	
}

.redes label{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.rede label{margin-top: 10px;}	

.row4{
	
}


