@charset "utf-8";
/* CSS Document */
body{
	font-family: Helvetica;
	text-shadow: #02010a;
	width: 90%;
	margin-left: 5%;
	font-size: 18px;
}

.banner2{
	background-color: #82c3a6;
	background-position: center;
	padding: 05%;
	
}
.banner1{
	background-color: #82c3a6;
	margin-left: center;
	width: 100%;
	background-position: center;
	padding-top: 05px;
	
	
	
}
.imagenIndex{
	 display: inline-block;
	background-color:  #d1bb5d;
	width: 100%;
	padding-bottom: 05%;
	
	
}
.item1{
	 display: inline-block;
	width: 50%;
	left:  100px;
	padding-top: 05%;
}
.item2{
	 display: inline-block;
	width: 50%;
	position: relative;
	left: 20px;
	top: 100px;

	
	
}
#RetraPisa ul li a:hover{
	background-color: #659CC9;
}
header{
	width: 100%;
	background: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 100px;
}

h1{
	color: aliceblue;
	margin-top: 20px
	
}
.comenzando{margin-top: 20px;
}

	

#menu{}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;

}
#menu ul li a:hover{
	background-color: #659CC9;
	
	
}
#menu ul li a{
	color: white;
	display:block;
	padding: 10px;
	text-decoration: none;
}

#menu ul li{
  display: inline-block;
}
.itemd{
	
	
	margin-left: 50px;
}
.item-c{
float: right;
	margin-top: -35px;
	margin-right: 20px;

}
.item-b{
	float: right;
	margin-top: -35px;
	margin-right: 20px;
}
.item-a{float: right; 
	margin-top: -35px;
	margin-right: 20px;}	


.item2{
	float: right;
	margin-top: -413px;
}
.item1{
	margin-left: 40px;
}
img{max-width: 100%;}

.contenidoimgPR{
	 display: inline-block;
	background-color:  #d1bb5d;
	width: 100%;
	padding-bottom: 05%;
	background-position: center;
}
.contenedorpaisaje1{
	display: inline-block;
	padding: 2em;
	margin-left: 30px;
	box-sizing: border-box;
	width: 30%;
	-webkit-filter: blur(10px);
	filter: blur(10px)
	
 }
.contenedorpaisaje2{
-webkit-filter: grayscale(100%%);
	filter: grayscale(100%);
	display: inline-block;
    padding: 2em;
	
	width: 30%;
	
 }
.contenedorpaisaje3{
	-webkit-filter: sepia();
	filter: sepia();
	display: inline-block;
    padding: 2em;
	box-sizing: border-box;
	width: 30%;
	
 }
.contenedorpaisaje4{
	-webkit-filter: grayscale(100%%);
	filter: grayscale(100%);
	display: inline-block;
    padding: 2em;
	box-sizing: border-box;
	width: 30%;
	
 }
.contenedorpaisaje5{
	display: inline-block;
    padding: 2em;
	box-sizing: border-box;
	width: 30%;
	
 }
.contenedorpaisaje6{
	-webkit-filter: grayscale(100%%);
	filter: grayscale(100%);
	display: inline-block;
    padding: 2em;
	box-sizing: border-box;
	width: 30%;
	
 }





@media all (max-width: 900px) and(min-width:700px) {
	.contenedor{
		width: 90%;
	}
	.paisajeRetra1{
		width: 100%;
	}
	.paisajeRetra2{
		width: 20%;
		min-height: 400px:
	}
	.paisajeRetra3{
		width: 80%;
		min-height: 400px;
	}
	.paisajeRetra4{
		width: 100%;
	}
	.paisajeRetra5{
		width: 100%;
	}
	.paisajeRetra6{
		width: 100%;
	}
	}


@media (max-width: 480px){
	.contenedor{
		width: 100%;
	}

	.paisajeRetra1{width: 100%;
		min-height: 100px;}
	
	.paisajeRetra2{
		width: 100%;
		min-height: 100px;
	}
	.paisajeRetra3{
		width: 100%;
		min-height: 100px;
	}
	.paisajeRetra4{
		width: 100%;
		min-height: 100px;
	}
	.paisajeRetra5{width: 100%;
		min-height: 100px;}
	
	.paisajeRetra6{
		width: 100%;
		min-height: 100px;
	}
	
}